<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking</title>
</head>
<body>
    <h3>Welcome to Payment Gateway</h3>
    <form action="createSession" method="post">
        <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="pk_test_51OEapBSDvFc709ljpO6jT7K3WOBNPkqUDtyWP0wbZ2DCtxI28O1cEyJUn7nMo6MD0jkf3cRoUDGFn6SeXvpPoWnC00RU24qig5"
        data-amount="7000"
        data-currency="usd"
        data-name="app"
        data-description="Buy Food Plan"
        data-locale="auto">
    </script>
    </form>
</body>
</html>