<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>

<body>
    <form action="/user/delete" method="delete">
        <button>Delete User</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let btn = document.querySelector('button')
        btn.addEventListener('click', async (e)=>{
            e.preventDefault();
            let res = await axios.delete('/user/delete', {})
            console.log(res)
        
            document.location.href = 'http://localhost:3000/'
            console.log(document.location.href)
        })
    </script>
</body>

</html>